<!-- Loop over each object in the projects array -->

{{!-- TODO: 1 main div with 4 divs inside --}}

<div class="allinfoContainer">
    <div class = "createNewPost">
      <p>Create New Post</p>
      </div>
      <div class = "titleWords">
        <span>Title</span>
        <input type="text">
      </div>
      <div class = "contentWords">
        <span>Content</span>
        <input type="text">
      </div>
      <div class = "createButtontext"><button>Create</button></div>
      

      
    </div>




